extends layout

block content
  script(type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js")
  .container
    .row
      .col.s12.m6.offset-m3
        .card.blue-grey.center-align#control
          .row 
            h2.white-text Servo control
          //- .row
          //-   a.btn.waves-effect(onClick='top()') Monter
          .row
            .col.m4
              a.btn.left.waves-effect#m1left(onClick='m1left()') Left
            .col.m4
              p.center.white-text Servo 1
            .col.m4
              a.btn.right.waves-effect#m1right(onClick='m1right()') Right
          .row
            .col.m4
              a.btn.left.waves-effect#m2left(onClick='m2left()') Left
            .col.m4
              p.center.white-text Servo 2
            .col.m4
              a.btn.right.waves-effect#m2right(onClick='m2right()') Right
          //- .row
          //-   a.btn.waves-effect Descendre
    .row
      .col.s12.m6.offset-m3
        .card.blue-grey.center-align#ledControl
          h2.white-text Led
          a.btn.waves-effect(onClick='ledOnOff()') On/Off
    .row
      .col.s12.m6
        .card.blue-grey.white-text.center-align.hide#disconnected
          .card-content
            span.card-title Server disconnected !
            
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    script.
      var socket = io();
      var timeout; 
      function ledOnOff(){
        socket.emit('ledOnOff');
      }
      //- function top(){
      //-   socket.emit('top');
      //- }
      function bottom(){
        socket.emit('bottom');
      }
      socket.on('connect', function(){
        $('#disconnected').addClass('hide');
        $('#control').removeClass('hide');
        $('#ledControl').removeClass('hide');
      })    
      socket.on('disconnect', function(){
        $('#disconnected').removeClass('hide');
        $('#control').addClass('hide');
        $('#ledControl').addClass('hide');
      })
      var m1leftB = $('#m1left'); 
      var m1rightB = $('#m1right');
      var m2leftB = $('#m2left'); 
      var m2rightB = $('#m2right');
      var i=0;
      //- leftB.mousedown(function(){
      //-   timeout = setTimeout(function () {
      //-     left();
      //-     console.log('left send');
      //-   }, 50);
      //-   return false ;
      //- });
      //- rightB.mousedown(function(){
      //-   timeout = setTimeout(function () {
      //-     right();
      //-     console.log('right send ' + i);
      //-     i++;
      //-   }, 50);
      //-   return false ;
      //- });
      function m1left(){
        socket.emit('m1left');
      }
      function m1right(){
        socket.emit('m1right');
      }
      function m2left(){
        socket.emit('m2left');
      }
      function m2right(){
        socket.emit('m2right');
      }
      
      var timeout, i=0; 
      var mousedown=0;
      m1leftB.mousedown(function(){
        ++mousedown;
        timeout = setInterval(function () {
          m1left();
          i++;
          console.log(i);
        }, 100);
        console.log('timemout : ' + timeout+'\nmousedown : ' + mousedown);
        return false ;
      })
      m1rightB.mousedown(function(){
        ++mousedown;
        timeout = setInterval(function () {
          m1right();
          i++;
          console.log(i);
        }, 100);
        console.log('timemout : ' + timeout+'\nmousedown : ' + mousedown);
        return false ;
      })
      m2leftB.mousedown(function(){
        ++mousedown;
        timeout = setInterval(function () {
          m2left();
          i++;
          console.log(i);
        }, 100);
        console.log('timemout : ' + timeout+'\nmousedown : ' + mousedown);
        return false ;
      })
      m2rightB.mousedown(function(){
        ++mousedown;
        timeout = setInterval(function () {
          m2right();
          i++;
          console.log(i);
        }, 100);
        console.log('timemout : ' + timeout+'\nmousedown : ' + mousedown);
        return false ;
      })
      $(document).mouseup(function() {
        --mousedown;
        clearInterval(timeout);
        i=0;
        return false;
      })
      //- $(document).mouseup(function(){
      //-   i = 0 ;
      //-   console.log('clear');
      //-   clearInterval(timeout);
      //-   return false;
      //- });
        
