doctype html
html
  head
    title= title
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
  body
    nav
      .nav-wrapper  
        a.brand-logo(href='#') Robot control
        //- ul#nav-mobile.right.hide-on-med-and-down
        //-   li
        //-     a(href='sass.html') Sass
        //-   li
        //-     a(href='badges.html') Components
        //-   li
        //-     a(href='collapsible.html') JavaScript
    block content

    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")
